# dependencies
node_modules

# out
dist

# IDE - webstorm
.idea

# IDE - vsCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.DS_Store
